@import "../../assets/style/mixin.scss";
.history{
    background-color: #f7f7f7;
    @include flex(column,center,center);
    .container{
        width: 30%;
        @include flex(column,center,flex-start);
        h2,h3{
            margin: 0px;
            line-height: normal;
        }
        .title{
            width: 100%;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid #8F8F8F;
            @include flex(row,flex-start,flex-start);
            h2{
                font-size: 20px;
            }
        }
        .cards{
            width: 100%;
            @include flex(column,center,center,3px);
            .card{
                position: relative;
                width: 100%;
                @include flex(row,space-between,center);
                background-color: white;
                box-shadow: 1px 1px 1px  rgb(211, 211, 211);
                button{
                    display: none;
                }
                .income-delete{
                    position: absolute;
                    left: -19px;
                    button{
                        padding: 3px;
                        color: white;
                        font-size: 20px;
                        background-color: #3bca74;
                        border: none;
                    }
                }
                .expense-delete{
                    position: absolute;
                    left: -19px;
                    button{
                        padding: 3px;
                        color: white;
                        font-size: 20px;
                        background-color: #BD3E31;
                        border: none;
                    }
                }
                h3{
                    padding: 10px 10px;
                }
                .income{
                    border-right: 5px solid #3bca74;
                }
                .expense{
                    border-right: 5px solid #BD3E31;
                }
            }
            .card:hover{
                button{
                    display: block;
                    cursor: pointer;
                }
            }
        }
    }
}

